
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #2d753c;
    --color-primary-dull: #579124;
}

/* ------------- NavLink hover START ---------------- */
.nav-link {
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #2d753c;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #2d753c;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s ease;
}

.nav-link:hover::after,
.active-link::after {
    transform: scaleX(1);
}
/* ---------------- NavLink hover END ---------------- */